.DS_Store
*.swp
*.swo
*.log
vim-markdown-preview.html
.cfg
.ssh
.aws
.aur
workspace/
.gnupg
.dropbox/
Dropbox
.config/rclone/rclone.conf
.config/emacs/elpaca/
.config/emacs/elpa/
.config/emacs/eln-cache/
.config/emacs/auto-save-list
.config/emacs/*~
devcontainers-dotfiles/
.config/starship.toml
.my_shell_complements
.my_shell_stuff
.claude/
.exports/
CLAUDE.md
